/* mobile responsiveness */

body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  /*need margin bottom so footer doesn't overlap content*/
  margin-bottom: 20em;
}

p {
  line-height: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}

h2 {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #02b8dd;
}

strong {
  font-weight: bold;
}

small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

header {
  height: 50px;
  margin-bottom: 10px;
  background: white;
}

nav {
	background-color: white;
	overflow: hidden;
	padding: 1em;
	border-bottom: 1px solid #02b8dd;
  /*z-index needed to keep menu on top of content when mobile first*/
  z-index: 99999 !important;
  position: absolute;
  margin: 0 auto 0 auto;
  width: 85%
}

/* CSS for nav, navwide=desktop, navnarrow=smaller, JS switches between */
nav .navWide {
	display: none;
	margin: 0 auto;
}

nav .navWide .wideDiv {
	text-align: center;
}

nav .navWide .wideDiv a {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
	display: inline-block;
  padding: 0 2em;
}

nav	.navNarrow i {
	float: left;
	cursor: pointer;
	color: #000;
}

nav .navNarrow .narrowLinks a {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
	display: block;
	float: left;
	clear: left;
  padding: 5px;
  margin-top: 10px;
}

nav .navNarrow h4 {
  margin: 0 0 0 60px;
}

/* Youtube video widths, !!removing sizes from html breaks sizing completely*/
#iframe1 {
  width: 100%;
}
#iframe2 {
  width: 100%;
}
#iframe3 {
  width: 100%;
}

/* Hides menu dependant on size */
.hidden {
  display: none;
}

/*Main image of site with text over*/
#main-img h2 {
  margin-top: 50px;
  color: black;
  font-size: 34px;
}

/*Second section, teams*/
#teams article {
  padding-top: 20px;
}

#teams h3 {
  display: block;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

#teams ul {
  margin: 80px 0;
}

#teams ul li {
  width: 100%;
  padding-top: 140px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#teams ul li.feature-1 {
  background: url('../img/teams/fnatic-logo.jpg') no-repeat top center;
}
#teams ul li.feature-2 {
  background: url('../img/teams/vp-logo.jpg') no-repeat top center;
}
#teams ul li.feature-3 {
  background: url('../img/teams/navi-logo-resized.jpg') no-repeat top center;
}
#teams ul li.feature-4 {
  background: url('../img/teams/liquid-logo.jpg') no-repeat top center;
}
#teams ul li.feature-5 {
  background: url('../img/teams/penta-logo.jpg') no-repeat top center;
}
#teams ul li.feature-6 {
  background: url('../img/teams/nip-logo.jpg') no-repeat top center;
  margin-bottom: 50px;
}

/*third section, events, primarily google map*/
#events {
  background-color: #f8fafa;
  padding: 60px 0;
  text-align: center;
}

#events h3 {
  display: block;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

#events a img {
  margin: 20px 0;
}

/*google map sizing*/
#map {
  height: 315px;
  width: 300px;
  margin: 0 auto 0 auto;
}

/*4th content, tab menu with 3 videos*/
#videos {
  background-color: #f8fafa;
  padding: 60px 0;
  text-align: center;
}

#videos h3 {
  display: block;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

/*5th section, flexbox containing pictures, actual flexbox code below*/
#pictures {
  padding: 60px 0;
  text-align: center;
}

#pictures article {
  width: 100%;
  background-color: #f5f5f5;

}
#pictures article:first-child {
  margin-right: 20px;
}

#pictures article .overlay {
  background: rgba(255, 255, 255, .95);
  height: 230px;
  width: 190px;
  padding: 20px;
}

#pictures h3 {
  display: block;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

/*last content, form for submitting email*/
#updates {
  padding: 5px 0;
  text-align: center;
}
#updates article {
  padding-top: 10px;
}

#updates h3 {
  display: block;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

#updates input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #02b8dd;
  outline: none;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#updates input[type=submit],
#updates input[type=button] {
  background: #02b8dd;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: white;
}

#updates input[type=submit]:hover,
#updates input[type=button]:hover {
  background: #02b8dd;
  transform: scale(1.1);
  color: black;
}

/*Fakes a section line inbetween content divs*/
article h4 {
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}

/* Removes section line specifically for the team list*/
li h4 {
  border-bottom: none;
}

/*footer used to return to top*/
footer a:link,
footer a:visited {
  color: #444;
}
footer a:hover {
  color: #888;
}

footer {
  position:fixed;
  bottom: 0;
  background: #ccc;
  width: 100%;
}

footer p {
  padding: 0 1em;
  line-height: .25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/*Flexbox*/
figure {
  width: 200px;
  background: #f5f5f5;
  border: 2px solid #999;
  overflow: hidden;
  border-radius: 10px;
}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}

figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
  flex-direction: column;
	box-sizing: border-box;
  }

/*tab menu for videos */
input[type="radio"] {
  display: none;
}

section {
  display: none;
  padding: 1em;
  clear: both;
}

section footer {
  position: absolute;
  bottom: 0;
  background: #ccc;
  width: 100%;
  margin-left: -1em;
}

section footer p {
  padding: 0 1em;
  line-height: 1.5em;
  text-align: center;
}

/* label+styling for tab container on videos content*/
#videos label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
  border-right: 1px solid #02b8dd;
  border-left: 1px solid #02b8dd;
  border-radius: 10px;
}

#videos label span {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

#videos label:first-of-type {
  border-left: none;
}

#videos label:last-of-type {
  border-right: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

[id^="tab"]:checked + label {
  background: #ccc;
  color: #222;
}

[id^="tab"]:checked + label .fa {
  color: #090;
}

.tab-content {
  background: #fff;
}

.fa {
  margin-right: 10px;
}

.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}

/*RESPONSIVENESS*/
/*Tablet*/
@media only screen and (min-width: 768px) {
  nav {
    width: 97.5%
  }
  /*brings image in for tablet+desktop*/
  #main-img {
    height: 580px;
    padding-top: 1px;
    background: #e8eced url('../img/main-img.jpg') no-repeat center;
  }

  #main-img h2 {
    margin: 180px 0 40px 0;
    color: white;
    font-size: 70px;
  }

  #main-img span.color {
    color: #02b8dd;
  }

  #teams ul li {
    width: 45%;
  }

  #events h3 {
    width: 400px;
  }

  #map {
    width: 560px;
    padding: 20px;
  }

  #videos h3 {
    width: 400px;
  }

  #pictures h3 {
    width: 400px;
  }

  #updates h3 {
    width: 400px;
  }

  .flex-container {
    width: 75%;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 100px;
    }

  #iframe1 {
    height: 600px;
  }

  #iframe2 {
    height: 600px;
  }

  #iframe3 {
    height: 600px;
  }
}

  /*RESPONSIVENESS*/
  /*Desktop*/
@media only screen and (min-width: 1000px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
  }

  nav .navWide {
  	display: block;
    width: 100%;
  }

  nav .navNarrow {
  	display: none;
  }

  #teams ul li {
    width: 30%;
  }

  .flex-container {
    width: 100%;
    margin-left: 0;
  }
}
